*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.single-product-page{
    margin-top: 30px;
}
.image-product img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: all .3s;
}
.image-product img:hover{
    transform: scale(1.1);
}
.swiper {
    width: 600px;
    height: 300px;
  }
.title.product h3{
    font-size: 25px;
    color:#2B2B2B;
    font-weight: 700;
}
.title-product .price{
    color: red;
    font-size: 20px;
    font-weight: 600;

}
.contact-buy-online{
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.contact-buy-online i{
    margin-right: 5px;
}
.contact-buy-online .chatfb{
    width: 50%;
    padding: 8px 10px;
    border: none;
    background: #0092FF;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    outline:none;
}
.contact-buy-online .call-me{
    width: 48%;
    padding: 8px 10px;
    border: none;
    background: #86e229;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    outline:none;
}
.buy-now .buy-button{
    width: 100%;
    padding: 8px 10px;
    border: none;
    background: #f59000;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    outline:none;
}
.buy-now .buy-button p{
    margin-bottom:0px;
    font-weight: 400;
}
.field-km{
    margin-bottom:20px;
    border:1px solid #c4c2c2;
    padding:10px;
    border-radius: 5px;
    
}
.field-km span{
    color:red;
    font-weight: 600;
}
.field-km p{
    margin-bottom:0;
}
.sidebar{
    border:1px solid;
}

/* TAB */
.tab-product{
    margin-top: 120px;
    padding-left: 15px;
    padding-right: 15px;
}
.tabs {
	display: flex;
	flex-wrap: wrap;
    border: 1px solid #e3e2e2;
}
.tabs label {
	order: 1; 
	display: block;
	padding: 10px 10px 10px 12px;
	margin-right: 0.2rem;
	cursor: pointer;
  font-weight: 400;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99; 
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
    color: #007bff; 
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
    border-top: 1px solid #e3e2e2;
}

@media screen and (max-width: 740px) {
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
  
 
}
@media screen and (max-width:1023px){
    .contact-buy-online{
        flex-wrap: wrap;
    }
    .contact-buy-online .chatfb{
        width: 100%;
    }
    .contact-buy-online .call-me{
        width: 100%;
    }
    .sidebar{
        display: none;
    }
    .title-product h3{
        margin-top: 15px;
    }
   
}